@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-txt {
  display: inline-block;
  padding-inline-start: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0); /* Start at the beginning */
  }
  100% {
    transform: translateX(100%);
  }
}

.property {
  * {
    transition: opacity 0.5s ease-in-out;
  }
  .title-category,
  .features > div {
    opacity: 0;
  }
  &:hover {
    .title-category,
    .features > div {
      opacity: 1;
    }
  }
}
